<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Acessar conta</h5>
          <%= form_for(@user, url: sessions_path, method: :post) do |form| %>
            <div class="form-label-group">
              <%= form.text_field :email, id: 'emailInput', class: 'form-control input_email', placeholder: 'Email', required: true %>
              <label for="emailInput">Email address</label>
            </div>

            <div class="form-label-group">
              <%= form.password_field :password, id: 'passwordInput', class: 'form-control input_pass', placeholder: 'Senha', required: true %>
              <label for="passwordInput">Password</label>
            </div>

            <button class="btn btn-lg button--primary btn-block text-uppercase" type="submit">Entrar</button>
            <div class="mt-4">
              <div class="d-flex justify-content-center links">
                Não possui conta ainda? <a href="/signup" class="ml-2">Registrar</a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>