<nav class="navbar navbar-light bg-white">
  <a class="navbar-brand" href="/">
    <img class="navbar-logo" src="https://uploads-ssl.webflow.com/5b7c0ffd36ef667b08a4a684/5bc76f0d3d3815109b416333_cor.svg">
  </a>
  <% if session[:user_id] %>
  <form action="/logout" class="form-inline">
    <button class="btn button--secondary" type="submit">Logout</button>
  </form>
  <% end %>
</nav>