<!-- Modal -->
<div class="modal fade" id="newCompensationModal" tabindex="-1" role="dialog" aria-labelledby="newCompensationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newCompensationModalLabel">Crie um novo pedido de indenização</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(Compensation.new, url: customer_compensations_path(@customer.id), method: :post) do |form| %>
      <div class="modal-body">
          <div class="input-group">
            <%= form.text_field :title, class: 'form-control', placeholder: 'Descrição', required: true %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn button--secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn button--primary">Salvar</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
