<%= form_with(model: customer, local: true) do |form| %>
  <div class="form-label-group">
    <%= form.text_field :name, id: 'nameInput', class: 'form-control', required: true %>
    <label for="nameInput">Nome</label>
  </div>

  <div class="form-label-group">
    <%= form.text_field :email, id: 'emailInput', class: 'form-control input_email', required: true %>
    <label for="emailInput">Email</label>
  </div>

  <div class="form-label-group">
    <%= form.collection_select :state_id, State.order(:name), :id, :name, {}, { class: 'form-control' } %>
  </div>

  <div class="form-label-group">
    <%= form.password_field :password, id: 'passwordInput', class: 'form-control input_pass', required: true %>
    <label for="passwordInput">Senha</label>
  </div>

  <div class="form-label-group">
    <%= form.password_field :password, id: 'passwordConfirmationInput', class: 'form-control input_pass', required: true %>
    <label for="passwordConfirmationInput">Confirmação de senha</label>
  </div>

  <button class="btn btn-lg button--primary btn-block text-uppercase" type="submit">Criar conta</button>
  <div class="mt-4">
    <div class="d-flex justify-content-center links">
      Já possui conta? <a href="/login" class="ml-2">Entrar</a>
    </div>
  </div>
<% end %>
