<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Oi <%= @customer.name %>, tudo bem?</h5>
    <% if @customer.compensations.present? %>
      <p class="card-text">Você possui um total de <%= @customer.compensations.count %> pedidos de indenização, como mostra abaixo:</p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Estado</th>
            <th scope="col">Advogado</th>
            <th scope="col">Status</th>
            <th scope="col">Deletar?</th>
          </tr>
        </thead>
        <% @customer.compensations.each do |compensation| %>
        <tbody>
          <tr>
            <th scope="row"><%= compensation.id %></th>
            <td><%= compensation.title %></td>
            <td><%= @customer.state.name %></td>
            <td><%= compensation.lawyer.name %></td>
            <td>Em andamento...</td>
            <td>
              <%= link_to(
                    image_tag(
                      'https://ionicons.com/ionicons/svg/ios-trash.svg', 
                      size: '25x25'
                    ), 
                    customer_compensation_path(compensation.customer.id, compensation.id), 
                    method: :delete, 
                    data: { confirm: 'Realmente deseja deletar?' }) %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <button type="button" class="btn button--primary" data-toggle="modal" data-target="#newCompensationModal">Abrir novo pedido</button>
    <% else %>
      <p class="card-text">Você ainda não possui nenhum pedido de indenização</p>
      <button type="button" class="btn button--primary" data-toggle="modal" data-target="#newCompensationModal">Criar pedido</button>
    <% end %>
  </div>
</div>

<%= render 'compensations/modal' %>