.btn {
  border-radius:40px;
}

.button--primary {
  background-color: $main-color;
  border-color: $main-color;
  color: white;

  &:hover, &:focus {
    background-color: $darker-main-color;
    border-color: $darker-main-color;
    color: white;
  }
}

.button--secondary {
  display: inline-block;
  background-color: transparent;
  border-color: $secondary-color;
  color: $secondary-color;

  &:hover, &:focus {
    background-color: transparent;
    color: $darker-secondary-color;
    border-color: $darker-secondary-color;
  }
}